.imagenindex{
    height: 60px;
    width: 40px;
    justify-content: center;
    display: flex;
    margin-left: 50px;
}





.subtitulo {
        font-size:  3vw;
        font-family: 'Urbanist', sans-serif;
        text-align: center;
        height: 3vw;
    }



.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
   justify-content: space-between;
   border-style:solid;
    border-color: red;
  }
  
  .menubar{
    display: flex;
    color: yellow;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: whitesmoke;
    font-size: 3vw;
    font-family: 'Urbanist', sans-serif;
    border-style:solid;
    border-color: red;
  }
.hola{
    font-size: 30px;
}



*{
    background-color: whitesmoke;
}