.fondo{
  background-color:lightgray;
}


.imagenindex{
    height: 60px;
    width: 40px;
    justify-content: center;
    display: flex;
    margin-left: 500px;
}

 .posicionimagen{ display: flex;
    justify-content: center;
    text-align: center;

  }

.texto1{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
}

.texto2{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style : normal;
  padding: 3vw;
  align-content: left;
  text-align: center; 
}

.texto3{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style : small; 
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    border-style:solid;
    border-color: red;
  }
  
  .menubar{
    display: flex;
    color: black;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: yellow;
    font-size: 2vw;
    font-family: 'koda', sans-serif;
    border-style:solid;
    border-color: yellow;
  }

.sub-text{font-size: 2.5vw;}

.texto {
  background-color: gray;
  font-family: "Kode Mono", monospace;
  color: black;
  padding: 3vw;
  align-content: left;
  text-align: center;
  font-size: 2vw;
}
.cuadro{
  background-color: gray;
  border-radius: 40%;
  margin: auto;
  padding: auto;
  justify-content: center;
}


.pie{
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 163, 163);
  }

  .img-fluid2{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  justify-content: left;
  width: 50;
}

.img-fluid3{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  justify-content: right;
  width: 50;
}

.copyright{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
}