.fondo{
  background-color:lightgray;
}

.texto1{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
}

.titulos{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style : normal;
  padding: 3vw;
  align-content: left;
  text-align: center; 
}

.texto3{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style : small; 
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(193, 182, 182);
    display: flex;
    justify-content: space-between;
    border-style:solid;
    border-color: red;
  }
  
  .menubar{
    display: flex;
    color: black;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: rgb(193, 182, 182);
    font-size: 2vw;
    font-family: 'koda', sans-serif;
    border-style:solid;
    border-color: rgb(193, 182, 182);
  }


.texto {
  background-color: gray;
  font-family: "Kode Mono", monospace;
  color: black;
  padding: 3vw;
  align-content: left;
  text-align: center;
  font-size: 2vw;
}
.cuadro{
  background-color: gray;
  border-radius: 40%;
  margin: auto;
  padding: auto;
  justify-content: center;
}


.footer-basic{
    background-color: whitesmoke;
  }

  .img-fluid2{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  justify-content: center;
  align-items: center;
  width: 50;
}



.img-fluid3{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  align-items: center;
  width: 50;
  justify-content:flex-end;
}


.Nombre{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
  text-align:center;
  
}