.fondo{
  background-color:lightgray;
}


.galeria{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.galeria img{
  max-width: 400px;
  padding: 1rem;
}


.texto1{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
    display: flex;
   justify-content: space-between;
   border-style:solid;
    border-color: red;
  }
  
  .menubar{
    display: flex;
    color: black;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: yellow;
    font-size: 2vw;
    font-family: 'koda', sans-serif;
    border-style:solid;
    border-color: yellow;
  }

   .pie{
    justify-content: center;
    align-items: center;
    background-color: lightgray;
  }


    .img-fluid2{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  justify-content: left;
  width: 50;
}



.copyright{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
  
}

.img-fluid3{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  justify-content: flex-end;
  width: 50;
}

  