.fondo{
  background-color:lightgray;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
    display: flex;
   justify-content: space-between;
   border-style:solid;
    border-color: red;
  }
  
  .menubar{
    display: flex;
    color: black;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: yellow;
    font-size: 2vw;
    font-family: 'koda', sans-serif;
    border-style:solid;
    border-color: yellow;
  }


.pie{
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 163, 163);
  }


  .texto{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style : x-large; 
    background-color: gray;
    border-radius: 40%;
    margin: auto;
    padding: auto;
    justify-content: center;
  }


.container text-center{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: auto;
  padding: auto;
  justify-content: center;
}
  

.texto1{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
}


.img-fluid2{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  justify-content: left;
  width: 50;
}

.img-fluid3{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  justify-content: right;
  width: 50;
}

.copyright{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
}
.esquina{
  justify-content: right;
  align-items: right;
  margin: auto;
  padding: auto;
  border-radius: 8%;
  margin: auto;
  padding: auto;
  width: 50;
}