.fondo{
  background-color:lightgray;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
    display: flex;
   justify-content: space-between;
   border-style:solid;
    border-color: red;
  }
  
  .menubar{
    display: flex;
    color: black;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: yellow;
    font-size: 2vw;
    font-family: 'koda', sans-serif;
    border-style:solid;
    border-color: yellow;
  }

.letras{
   font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
}




  .titulo1{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: 10%;
    font-size: x-large;
    font-weight: weight;
    font-style : bold; 
    margin: auto;
    padding: 2%;
    justify-content: center;
    background-color: gray;
    border-radius: 50%;
  }


.container text-center{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: auto;
  padding: auto;
  justify-content: center;
}
  

.texto1{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
}


.footer-basic{
    background-color: whitesmoke;
  }

  .img-fluid2{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  justify-content: center;
  align-items: center;
  width: 50;
}



.img-fluid3{
  border-radius: 8%;
  margin: auto;
  padding: auto;
  align-items: center;
  width: 50;
  justify-content:flex-end;
}


.Nombre{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: large;
  font-weight: weight;
  font-style : normal; 
  margin: auto;
  padding: auto;
  justify-content: center;
  text-align:center;
  
}